html, body {
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(213, 243, 236);
}


header {
    background-color: rgb(0, 195, 202);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: aliceblue;
    text-align: center;
}

header h1 {
    margin-top: 0;
}


.btn {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: aliceblue;
    background-color: cadetblue;
    padding: 5px 20px;
    border-radius: 50px;
    text-transform: uppercase;
}
.btn:hover{
    background-color: rgb(255, 0, 140);

}
